

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered">

    <thead class="bg-dark text-white">
      <tr>
        <th>Album</th>
        <th>ID</th>
        <th>Título</th>
        <th></th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let foto of fotos">
        <td>{{ foto.albumId }}</td>
        <td>{{ foto.id }}</td>
        <td>{{ foto.title }}</td>
        <td>
          
            <a href={{foto.url}} target="_blank"><img class="thumbnail" src={{foto.thumbnailUrl}} alt={{foto.title}}/></a>
            
          
        </td>
        
       
        
      </tr>
    </tbody>
  </table>

  

  